---
layout: default
title: Blog
---

{% assign postCount = paginator.posts | size %}
{% if postCount == 0 %}
<h1 style="text-align: center; margin-bottom: 2em; margin-top: 2em; color: #8a8a8a;">Check back soon for some amazing
  posts!</h1>
{% else %}

{% for post in paginator.posts %} {% include featured-post.html %} {% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-button pagination-active next" href="{{ paginator.next_page_path | relative_url }}">{{
    site.data.settings.pagination.previous_page }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %} {% if paginator.previous_page %}
  <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path | relative_url }}">{{
    site.data.settings.pagination.next_page }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>

{% endif %}